# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=Timer to reload displayed webpage for ansible-digital-signage

[Timer]
OnBootSec={{ signage_reload_every }}
OnUnitActiveSec={{ signage_reload_every }}
Unit=signage-autoreload.service

[Install]
WantedBy=timers.target